@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

@layer components {
  /* __next id targets the root of a next.js app */
  #__next {
    @apply bg-black;
  }

  
  .heroButton {
    @apply w-[100px] h-[30px]  text-white bg-gray-900 rounded-lg shadow-md hover:bg-gray-800 focus:outline-none ;
  }

  .contactInput {
    @apply flex flex-col bg-gray-800 outline-none rounded-sm border-b py-5 border-[#242424] text-gray-50 placeholder-gray-500 transition-all focus:border-white focus:text-white hover:border-white h-[30px] px-3 ;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
}
